### Importacion de librerias

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import seaborn.objects as so
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score    # Medidas de desempeño
from sklearn.preprocessing import PolynomialFeatures    # Herramientas de polinomios
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

#### Vamos a utilizar el dataset de penguins.

In [22]:
# Para traer el dataset penguins ejecutamos lo siguiente
penguins = sns.load_dataset("penguins")

### **Ejercicio 1:** A partir del dataset penguins, crear un subconjunto de datos que contenga solo pinguinos de la isla Biscoe y que tengan un pico de 48 mm de largo o mas

In [3]:
penguins_biscoe = penguins[penguins['island'] == 'Biscoe']
penguins_biscoe = penguins_biscoe[penguins_biscoe["bill_length_mm"] >= 48]

###  **Ejercicio 2.** Crear otro dataset con la informacion de pinguinos Adelie machos que no sean de isla Biscoe.

In [28]:
# Pinguinos de la specie Adelie cuyo sexo es macho y no sean de isla biscoe
penguins_adelie = penguins[penguins['species'] == 'Adelie']
penguins_adelie = penguins_adelie[penguins_adelie["sex"] == "Male"]
penguins_adelie = penguins_adelie[penguins_adelie["island"] != "Biscoe"]

### **Ejercicio 3.** Del dataset penguins quedarse con todas las variables excepto year, sex y body_mass_g.

In [30]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [33]:
penguins3 = penguins[['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']]
penguins3.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm'],
      dtype='object')

In [36]:
penguins3 = penguins.drop(columns=["sex","body_mass_g"])
penguins3.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm'],
      dtype='object')

### **Ejercicio 4. Restablecer índices**

- (a) En el dataset penguins, eliminar primero todas las filas con datos faltantes. ¿Qué sucede con los índices?
- (b) En el dataset sin datos faltantes, restablecer los índices mediante el comando `reset_index()`.
- (c) ¿Cómo podemos hacer todo en un solo comando encadenando operaciones?

In [8]:
# a) Para eliminar filas usamos el método drop con axis=0
penguins = penguins.dropna(axis=0)
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

Vemos que las filas que tenian nulos se eliminan, pero el indice no se restablece. Por eso, puede pasar de la fila 2 a la fila 4 (pues la fila 3 fue eliminada)

In [10]:
# b)
penguins.reset_index(drop=True, inplace=True)

# Para hacer todo junto ejecutamos:
penguins = sns.load_dataset("penguins")
penguins = penguins.dropna(axis=0).reset_index(drop=True)
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

### **5. Renombrar columnas e índices**

#### (a) Renombrar la variable species a especies. En este caso debemos pasarle a columns un diccionario: 
```bash
{’variable_original’ : ’variable nueva’}
```

In [17]:
penguins.rename(columns={"species":"especies"}, inplace=True)
penguins.columns

Index(['especies', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

#### (b) Renombrar en un solo rename la variable `flipper_length_mm` a `aleta_mm` y la variable `body_mass_g` a `peso_g`

In [18]:
penguins.rename(columns={"flipper_length_mm":"aleta_mm","body_mass_g":"peso_g"}, inplace=True)
penguins.columns

Index(['especies', 'island', 'bill_length_mm', 'bill_depth_mm', 'aleta_mm',
       'peso_g', 'sex'],
      dtype='object')

#### (c) Renombrar el índice 0 a “cero”.

In [19]:
# Cambiamos el indice 0 a "cero"
penguins.rename(index={0:"cero"}, inplace=True)
penguins.head()

,especies,island,bill_length_mm,bill_depth_mm,aleta_mm,peso_g,sex
cero,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

#### (d) Pasar todos los nombres de variables a mayusculas

In [20]:
# Pasamos todos los nombres de variables a mayusculas
penguins.columns = penguins.columns.str.upper()
penguins.columns

Index(['ESPECIES', 'ISLAND', 'BILL_LENGTH_MM', 'BILL_DEPTH_MM', 'ALETA_MM',
       'PESO_G', 'SEX'],
      dtype='object')

#### (e) ¿Que resultado esperan del siguiente comando?
```bash
penguins.rename(index = np.sqrt)

In [23]:
# Toma la raiz cuadrada de cada indice 
penguins = sns.load_dataset("penguins") # Por que el indice 0 esta como "cero"
penguins.rename(index = np.sqrt)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0.000000,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1.000000,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
1.414214,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
1.732051,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
2.000000,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
18.411953,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
18.439089,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
18.466185,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
18.493242,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
18.520259,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

#### (f) ¿Como podemos sumarle uno a todos los índices de penguins?

In [24]:
# Le sumamos 1 a cada valor del indice
penguins.rename(index = lambda x: x + 1)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
340,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
341,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
342,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
343,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
344,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male